body {
  /*background-image: url(../img/fondo-pagina.jpg);*/
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgba(7, 7, 7, 0.896);
  color: white;
}
header{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin-top: 6rem;
  padding: 0.5rem;
} 
.nombre,
.titulo{
  font-size: 4rem;
  font-weight: bolder;
  position: relative;
}
.foto {
  width: 20%;
  border-radius: 50%;
  border: rgb(255, 255, 255) solid 5px;
  mask-image: linear-gradient(
  black 50%, transparent
  );
}
.nombre::after{
  content:' ';
  display: block;
  position: absolute;
  right:0 ;
  bottom:0 ;
  height: 1px;
  width: 100%;
  background-color: rgb(5, 69, 103);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-in-out;
}
.nombre:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
  transition: transform 0.5s ease-in ;

}

/**************presentacion************************/

.presentacion .parrafo{
text-align: justify;
margin: 4rem;
font-size: large;
}

/**************tecnologias*************************/

.conocimientos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16rem;
}

.titulo_tecnologia{
  font-size: 4rem;
  margin: 0.5rem;
}

.tecnologias{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  padding: 0;
  list-style: none;
}
.item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:  0 1rem;
  
}
.img{
  width: 50%;
}

/***************actividades*************************/

.actividades{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16rem;
  margin-bottom: 16rem;
}

.titulo_actividades{
  font-size: 4rem;
  margin-bottom: 5rem;
}

.contenedor{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 1rem;
  width: 90vw;
  height: 70vh;
  max-height: 30rem;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  font-size: large;
  font-weight: bolder;
  letter-spacing: 1px;
  height: auto;
  border: rgb(83, 125, 143) solid 3px;
  box-shadow: 1em 0 4em rgba(31, 75, 96, 0.84), -1em 0 4em rgb(0, 68, 128);
  border-radius: 5px;
  height: 20rem;
  gap: 1rem;
}
input, textarea{
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(31, 75, 96, 0.84);
  font-weight: bold;
  letter-spacing: 1px;
}
input{
  height: 1.5rem;
  width: 15rem;
}
textarea{
  width: 15rem;
  height: 4rem;
  resize: none;
}


.contenedor_actividades{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  overflow-x: scroll;
  height: 69vh;
  width: 60vw;

}

.div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  background-color:rgba(128, 128, 128, 0.247);
  color: black; 
}

.titulo_div{
font-size: 1.4rem;
margin-bottom: 2px;
text-transform: uppercase;
font-weight: bolder;


}
.parrafo_div{
font-size: 1rem;
margin: 5px;
font-weight: bolder;
}
.imgRender{
  width: 80%;
  height: 100%;
  border-radius: 5%;
}
.btn{
  margin-top: 2px;
  background-color: rgba(31, 75, 96, 0.84);
  width: 8rem;
  border: 1px solid black;
  border-radius: 3px;
}
.btn:hover{
  background-color: black;
  border: rgba(31, 75,96, 0.84) solid 1px ;
  color:rgba(44, 101, 127, 0.84) ;
  font-weight: bolder;
  transition: background-color 0.5s ease;
}

/*
.estilo-compartido,
.foto,
form,
article {
  margin: 1rem;
  padding: 0.1rem;
  text-align: center;
  font-size: xx-large;
}


.form,
article {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
}

ul {
  display: flex;  
  }
  
li{
  align-items: center;
  justify-content: space-between;
}

li .img{
  width: 10rem;
}

li:hover{
  transition: 02s;
}
li:hover img{
  transform: scale(0.9);
  transition: 02s;}
  

.tecnologias{
width: 90vw;
display: flex;
flex-direction: row;
align-items: center;
height: auto;
justify-content: space-around;

}
form {
  height: 50vh;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

article {
  border: rgb(151, 151, 151) 1px solid;
  height: 50vh;
  width: 50vw;
}

.actividades {
  box-shadow: violet 1px 1px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  border: gray solid 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; 
  height: 50vh;
}
.div{
  width: calc(33.33% - 2rem);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  border: gray solid 1px;
}
.imgRender{
  width: 5em;
}